global
    log stdout format raw local0
    maxconn 4096

defaults
    log global
    option httplog    
    mode http
    timeout connect 5s
    timeout client  50s
    timeout server  50s

frontend https-in
    bind *:443 ssl crt /usr/local/etc/haproxy/certs/localhost.pem
    mode http

    bind *:80
    http-request redirect scheme https unless { ssl_fc }

    acl is_auth path_beg /login
    acl is_webserver path_beg /task

    use_backend auth_service if is_auth
    use_backend webserver_service if is_webserver

backend auth_service
    server auth1 auth-service:3001 check

backend webserver_service
    server web1 webserver:3003 check

frontend mTLS_passthrough
    bind *:444
    mode tcp
    option tcplog
    default_backend notification_tcp_backend

backend notification_tcp_backend
    mode tcp
    server notif1 notification-service:3002 check

listen stats
    bind *:8404
    stats enable
    stats uri /stats
    stats refresh 5s
    stats admin if LOCALHOST
